@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');

*{ margin: 0; padding: 0; box-sizing: border-box; /* font-family: 'Poppins', sans-serif;*/ list-style: none; scroll-behavior: smooth ;
}

body{ background-size: cover; background-repeat: no-repeat; overflow-x: hidden;}

.btn{ align-items: center; background:#12f7ff; color:#1d002c; text-decoration: none; border-radius: 25px; padding: 0.5rem 1rem; transition: all .3s ease; border: 2px solid #12f7ff; font-weight: 200;

}

.btn:hover{ box-shadow: 0 0 1rem #12f7ff; background: #1d002c; color:#12f7ff ; }